<div class="jumbotron">
  <h1>Welcome</h1>

  <p>wallstreetdocs.com OAuth2 Demo</p>

  <p class="lead">User is not logged in now, click to login again </p>

  <p><a class="btn btn-lg btn-success" href="/" role="button">Login</a></p>
</div>
